* 
{
    background-color: #41dbdb;
}

.home-img
{
    width: 500px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.home-links
{
    text-align: center;
}

.home-title
{
    text-align: center;
}

h2 
{
    background-color: #3B322C;
    text-align: center;
    color: #A17C6B;
    
}

.title
{
    text-align: center;
}

img
{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

li 
{
    font-size: 20px;
}

p 
{
    font-size: 20px;
}